pillow_heif
html5lib
draftjs-exporter
sphinx-rtd-theme
sniffio
django-permissionedforms
sphinxcontrib-htmlhelp
vtk
sphinxcontrib-qthelp
py-lib3mf
stevedore
virtualenv-clone
sphinxcontrib-serializinghtml
wagtail
anyascii
django-taggit
sphinxcontrib-applehelp
django-modelcluster
pymdown-extensions
aioredis
sphinxcontrib-jsmath
et-xmlfile
tomlkit
snowballstemmer
narwhals
openpyxl
soupsieve
webencodings
sphinxcontrib-devhelp
virtualenvwrapper
telepath
alabaster
sphinxcontrib-jquery
l18n
django-treebeard
marimo
pywin32
django-filter
